@font-face {
  font-family: "RobotoRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype"); }
@font-face {
  font-family: "RobotoBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype"); }
@font-face {
  font-family: "CleanvertisingLight";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/CleanvertisingLight/CleanvertisingLight.eot?#iefix") format("embedded-opentype"), url("../fonts/CleanvertisingLight/CleanvertisingLight.woff") format("woff"), url("../fonts/CleanvertisingLight/CleanvertisingLight.ttf") format("truetype"); }
body {
  font-family: "RobotoRegular", sans-serif;
  color: #333;
  font-weight: normal;
  font-size: 16px;
  min-width: 320px;
  line-height: 1.6;
  -webkit-font-smoothing: antialised;
  overflow-x: hidden;
  margin: 0;
  padding: 0; }

h1 {
  color: #fff;
  font-size: 40px;
  line-height: 56px;
  font-family: "RobotoBold", sans-serif;
  margin: 0;
  text-transform: uppercase; }

section {
  height: 100vh;
  display: flex;
  justify-content: center; }

li {
  list-style-type: none; }

section.s_dark h2, section.s_dark h3, section.s_dark p, footer.s_dark h2, footer.s_dark h3, footer.s_dark p {
  color: #fff; }
section h2, footer h2 {
  font-size: 38px;
  line-height: 56px;
  font-family: "CleanvertisingLight", sans-serif;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase; }

.container {
  width: 1180px;
  magrin: 0 auto;
  height: 100vh; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red;
  box-shadow: #9B1818 0 0 0 2px;
  border-color: #9B1818; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

.hidden {
  display: none; }

.title_about {
  color: #003469; }
.title_work {
  color: #fff; }
.title_review {
  color: #fff; }

.button {
  width: 200px;
  height: 50px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-family: "CleanvertisingLight", sans-serif;
  text-transform: uppercase;
  cursor: pointer; }
  .button_blue {
    background: #003469; }
    .button_blue:hover {
      background: #022953; }
  .button_red {
    background: #9B1818; }
    .button_red:hover {
      background: #7B1313; }

.s_greeting {
  background-image: url(../img/bg/top_bg.jpg);
  background-position: center center;
  background-size: cover;
  color: #fff;
  font-family: "CleanvertisingLight", sans-serif; }

.container-greet {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between; }

.header {
  display: flex;
  width: 100%; }

.logo {
  content: url("../img/logo.png");
  width: 170px;
  height: 150px;
  margin-top: 30px; }

.nav {
  display: flex;
  margin-left: auto;
  list-style-type: none;
  margin-top: 40px;
  padding-right: 50px;
  font-size: 18px; }

.nav__item {
  margin: 0 10px; }
  .nav__item a {
    color: #fff;
    text-decoration: none; }
    .nav__item a:hover {
      text-decoration: underline; }

.cont__city {
  margin-bottom: 0;
  text-align: right; }

.cont__phone {
  color: #fff;
  text-decoration: none;
  font-size: 24px; }

.title {
  width: 100%; }

.designer {
  width: 100%; }

.designer__wrap > a {
  display: inline-block;
  height: 40px;
  width: 100px;
  background: #ECEDEF;
  font-size: 14px;
  color: #3d3d3d;
  font-family: "RobotoRegular", sans-serif;
  text-transform: uppercase;
  padding: 2px 5px;
  line-height: 40px;
  text-decoration: none;
  text-align: center;
  border-radius: 5px 5px 0 0; }

.designer__wrap > a:first-child {
  background: #B7BBC2; }

.designer__wrap > a:hover {
  text-decoration: none; }

.designer__wrap {
  padding: 15px;
  width: 70%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: rgba(235, 236, 238, 0.4); }

.designer__wrap .vid {
  display: block; }

.designer__wrap .skryt {
  display: none; }

.form_selection {
  display: flex;
  flex-direction: column;
  vertical-align: top;
  color: #3d3d3d; }

.searchform {
  position: relative;
  display: flex;
  background: #B7BBC2;
  height: 300px;
  border-radius: 0 5px 5px 5px;
  padding: 20px 10px 0; }

input, select, option {
  margin-bottom: 5px;
  margin-right: 5px;
  padding-left: 5px;
  font-size: 16px;
  width: 130px; }

input {
  height: 35px; }

select {
  height: 40px; }

label {
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  font-family: "RobotoRegular", sans-serif;
  margin-bottom: 5px; }

.sel__rooms {
  width: 160px; }

.button__wrap {
  position: absolute;
  bottom: 20px;
  right: 20px; }

.selling {
  display: flex;
  align-items: center;
  padding-top: 10px; }

.submit_selling {
  margin-left: auto;
  margin-right: 20px; }

.label_selling {
  font-size: 30px;
  margin-left: 10px;
  font-family: "CleanvertisingLight", sans-serif; }

.arrow-wrap {
  width: 100%;
  display: flex;
  justify-content: center; }

.arrow {
  margin-bottom: 20px; }

.arrow-pic {
  width: 70px;
  height: 70px;
  transform: rotate(90deg);
  cursor: pointer; }

.s_about {
  min-height: 460px;
  position: relative; }

.wrap-about {
  font-family: "CleanvertisingLight", sans-serif;
  font-size: 18px;
  margin-top: 310px; }

.wrap-tizers {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 282px;
  background-color: #c6d8ee;
  background-image: -webkit-linear-gradient(#c6d8ee, #e8eff7);
  background-image: linear-gradient(#c6d8ee, #e8eff7); }

.tizers {
  display: flex;
  justify-content: center;
  color: #003469;
  font-family: "CleanvertisingLight", sans-serif;
  text-transform: uppercase;
  padding: 20px 0 0; }
  .tizers span {
    font-size: 14px;
    display: block; }
  .tizers strong {
    font-weight: normal;
    font-size: 23px;
    display: block; }

.tizers__item {
  margin: 0 20px; }

.label_tiz {
  text-align: center;
  margin-bottom: 20px; }

.tiz_img, .tiz_descr {
  display: inline-block;
  vertical-align: bottom; }

.tiz_img i {
  font-size: 70px;
  line-height: 48px;
  margin-right: 10px; }

.s_profi {
  background-color: #e8eff7;
  background-image: -webkit-linear-gradient(#e8eff7, #fff);
  background-image: linear-gradient(#e8eff7, #fff); }

.wrap-profi {
  display: flex; }

.profi_item {
  display: flex; }

.profi_left {
  color: #9B1818;
  padding-left: 0; }
  .profi_left i {
    font-size: 70px;
    line-height: 90px; }

.profi_right {
  font-family: "CleanvertisingLight", sans-serif;
  padding-left: 30px; }
  .profi_right h3 {
    display: inline-block;
    margin: 0;
    color: #9B1818;
    font-size: 24px;
    text-transform: uppercase; }
  .profi_right p {
    margin-top: 0px;
    font-size: 16px; }

.callback {
  background-color: #f7f7f7;
  padding: 25px 30px;
  border: #9B1818 5px solid;
  border-radius: 5px; }
  .callback h2 {
    text-transform: uppercase;
    margin-top: 0;
    font-family: "RobotoBold", sans-serif;
    font-size: 22px;
    color: #333;
    line-height: 22px;
    margin-bottom: 30px; }
  .callback label {
    display: block;
    margin-bottom: 15px;
    color: #666;
    font-size: 14px; }
  .callback input, .callback select {
    display: block;
    line-height: 40px;
    height: 40px;
    border: #d9d9d9 1px solid;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.06) inset;
    width: 100%;
    text-indent: 10px;
    margin-top: 3px; }
    .callback input:focus, .callback select:focus {
      box-shadow: #67bc5c 0 0 0 2px;
      border-radius: 2px;
      border-color: #67bc5c; }
  .callback .button_wrap {
    text-align: center;
    margin: 25px 0 10px; }
  .callback .submit_selling {
    margin: 15px 0 5px;
    vertical-align: middle; }

.s_work {
  min-height: 450px;
  font-family: "CleanvertisingLight", sans-serif;
  background-image: url(../img/bg/work_bg.jpg);
  background-position: center center;
  background-size: cover; }

.work__item {
  display: flex;
  align-items: center;
  position: relative;
  border: 2px solid #fff;
  background: #fff;
  height: 150px;
  border-radius: 15px;
  margin-bottom: 30px; }
  .work__item:after {
    content: "";
    position: absolute;
    left: 5%;
    bottom: -60px;
    border: 30px solid transparent;
    border-top: 30px solid #fff; }
  .work__item:last-child:after {
    border: none; }
  .work__item:nth-child(2):after {
    left: 90%; }

.work__item-ttl {
  width: 150px;
  font-family: "roboloBold", sans-serif;
  text-align: center;
  font-size: 30px; }

.work__item-txt {
  font-size: 20px; }

.s_back {
  background-color: #e8eff7;
  background-image: -webkit-linear-gradient(#e8eff7, #c6d8ee, #e8eff7);
  background-image: linear-gradient(#e8eff7, #c6d8ee, #e8eff7); }

.back-slider {
  display: flex;
  height: 80%; }

.slider-prev, .slider-next {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 5%; }
  .slider-prev:hover, .slider-next:hover {
    background: rgba(61, 61, 61, 0.3);
    cursor: pointer; }

.slider-prev__pic, .slider-next__pic {
  width: 100%; }

.slider-prev__pic {
  transform: rotate(180deg); }

.slider-wrap {
  display: flex;
  overflow: hidden;
  width: 90%;
  background: #F9FAFC; }

.items {
  display: flex;
  position: relative;
  color: #444;
  font-size: 30px;
  will-change: right;
  transition: right 0.3s; }

.item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%; }

.slider__left, .slider__right {
  width: 50%; }

.slider__img {
  display: flex;
  flex-direction: column;
  align-items: center; }

.slider__pic {
  width: 90%; }

.s_review {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background-image: url(../img/bg/review_bg.jpg);
  min-height: 500px;
  background-position: center center;
  background-size: cover; }

.review-wrap {
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: 100%;
  background: rgba(61, 61, 61, 0.6);
  color: #fff; }

.review-item__title {
  cursor: pointer; }
  .review-item__title::before {
    content: "";
    width: 0;
    height: 0;
    margin-right: 0.625rem;
    border: 0.3125rem solid transparent;
    border-top-color: #f9b43b;
    border-bottom: none; }

.review-item__content {
  display: flex;
  height: 0;
  overflow: hidden; }

.review-item__pic {
  width: 150px; }

.review-item--active {
  height: 200px; }

.review-item--active .review-item__content {
  overflow: inherit; }

.review-item__descr {
  padding: 0 10px; }

.s_contacts {
  position: relative;
  display: flex;
  padding-bottom: 0; }
  .s_contacts h2 {
    margin-bottom: 10px; }
  .s_contacts h3 {
    text-align: center;
    font-family: "CleanvertisingLight", sans-serif; }

.google-map {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 150px;
  width: 100%;
  height: 500px; }

footer {
  margin-top: 550px; }
  footer .button_wrap {
    text-align: center;
    margin-top: 35px; }
  footer h2 {
    text-transform: none;
    font-size: 30px;
    margin-bottom: 20px; }
  footer h3 {
    text-align: center;
    font-family: "Tahoma", sans-serif;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #9B1818;
    font-weight: normal; }
  footer .f_phone {
    font-size: 30px;
    margin-top: 0;
    line-height: 30px; }
  footer p {
    font-size: 18px;
    text-align: center;
    margin-bottom: 30px; }

/*# sourceMappingURL=main.css.map */
