@font-face {
  font-family: "lifehack-medium";
  src: url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff");
  font-style: normal; }
@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/RobotoBold/RobotoBold.woff") format("woff");
  font-style: normal; }
@font-face {
  font-family: "CleanvertisingLight";
  src: url("../fonts/CleanvertisingLight/CleanvertisingLight.woff") format("woff");
  font-style: normal; }
body {
  font-family: "RobotoRegular", sans-serif;
  color: #333;
  font-weight: normal;
  font-size: 1rem;
  width: 100%;
  line-height: 1.6;
  -webkit-font-smoothing: antialised;
  overflow-x: hidden;
  margin: 0;
  padding: 0; }

h1 {
  color: #fff;
  font-family: "CleanvertisingLight", sans-serif;
  margin: 0;
  text-transform: uppercase; }

ul {
  padding: 0; }

section {
  height: 100vh; }

li {
  list-style-type: none; }

section.s_dark h2, section.s_dark h3, section.s_dark p, footer.s_dark h2, footer.s_dark h3, footer.s_dark p {
  color: #fff; }
section h2, footer h2 {
  font-size: 2.1875rem;
  font-family: "CleanvertisingLight", sans-serif;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase; }

.container {
  width: 95%;
  max-width: 58.75rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red;
  box-shadow: #9B1818 0 0 0 0.125rem;
  border-color: #9B1818; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

textarea {
  resize: none; }

.hidden {
  display: none; }

.title_about {
  color: #003469; }
  @media screen and (max-width: 768px) {
    .title_about {
      margin-bottom: 0.625rem; } }
.title_work {
  color: #fff; }
.title_review {
  color: #fff; }

.button {
  width: 12.5rem;
  height: 3.125rem;
  border-radius: 0.3125rem;
  border: none;
  color: #fff;
  font-size: 1.125rem;
  font-family: "CleanvertisingLight", sans-serif;
  text-transform: uppercase;
  cursor: pointer; }
  .button_blue {
    background: #003469; }
    .button_blue:hover {
      background: #022953; }
  .button_red {
    background: #9B1818; }
    .button_red:hover {
      background: #7B1313; }

.s_greeting {
  background-image: url(../img/bg/top_bg.jpg);
  background-position: center center;
  background-size: cover;
  color: #fff;
  font-family: "CleanvertisingLight", sans-serif; }
  @media screen and (max-width: 480px) {
    .s_greeting {
      background-position: left bottom; } }

.container-greet {
  justify-content: space-between; }

.header {
  display: flex; }

.header-wrap {
  width: 100%;
  display: flex; }
  @media screen and (max-width: 768px) {
    .header-wrap {
      flex-direction: column;
      position: absolute;
      align-items: center; } }

.logo {
  content: url("../img/logo.png");
  width: 7.5rem;
  height: 6.875rem;
  margin-top: 1.25rem; }

.nav {
  display: flex;
  margin-left: auto;
  list-style-type: none;
  margin-top: 1.25rem; }
  @media screen and (max-width: 768px) {
    .nav {
      display: none; } }

.nav__list {
  display: flex; }
  @media screen and (max-width: 875px) {
    .nav__list {
      display: none; } }

.nav__item {
  margin: 0 0.625rem; }
  .nav__item a {
    color: #fff;
    text-decoration: none; }
    .nav__item a:hover {
      text-decoration: underline; }

.cont {
  display: flex;
  align-items: center;
  color: #fff; }
  @media screen and (max-width: 875px) {
    .cont {
      margin-left: auto;
      margin-right: 3.125rem; } }
  @media screen and (max-width: 768px) {
    .cont {
      margin: 1.25rem auto; } }

.cont__city {
  margin-bottom: 0;
  margin-top: 0;
  text-align: right; }
  @media screen and (max-width: 768px) {
    .cont__city {
      text-align: center; } }

.cont__phone {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem; }

@media screen and (max-width: 768px) {
  .title {
    text-align: center;
    font-size: 1rem;
    margin: 15% 0 5%; } }
@media screen and (max-width: 480px) {
  .title {
    font-size: 0.875rem; } }

.title__btn {
  display: none; }
  @media screen and (max-width: 768px) {
    .title__btn {
      display: block; } }

.designer {
  width: 710px; }
  @media screen and (max-width: 768px) {
    .designer {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 9.375rem; } }

.vklad > a {
  display: inline-block;
  height: 2.5rem;
  width: 6.25rem;
  background: #ECEDEF;
  font-size: 0.875rem;
  color: #3d3d3d;
  font-family: "RobotoRegular", sans-serif;
  text-transform: uppercase;
  padding: 0.125rem 0.3125rem;
  line-height: 2.5rem;
  text-decoration: none;
  text-align: center;
  border-radius: 0.3125rem 0.3125rem 0 0; }

.vklad > a:first-child {
  background: #B7BBC2; }

.vklad > a:hover {
  text-decoration: none; }

.designer__wrap {
  height: 18.75rem;
  padding: 0.9375rem;
  margin-top: 1.25rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: rgba(235, 236, 238, 0.4); }
  @media screen and (max-width: 768px) {
    .designer__wrap {
      display: none; } }

.designer--small-width {
  display: block;
  height: 93vh; }

.designer__wrap .vid {
  display: block; }

.designer__wrap .skryt {
  display: none; }

.form_selection {
  display: flex;
  flex-direction: column;
  vertical-align: top;
  color: #3d3d3d; }
  @media screen and (max-width: 768px) {
    .form_selection {
      flex-direction: row;
      align-items: center; } }

.searchform {
  position: relative;
  display: flex;
  background: #B7BBC2;
  height: 12.5rem;
  border-radius: 0 0.3125rem 0.3125rem 0.3125rem;
  padding: 1.25rem 0.625rem 0; }
  @media screen and (max-width: 768px) {
    .searchform {
      flex-direction: column;
      border-radius: 0.3125rem 0.3125rem 0.3125rem 0.3125rem;
      height: 70vh; } }

input, select, option {
  margin-bottom: 0.3125rem;
  margin-right: 0.3125rem;
  padding-left: 0.3125rem;
  font-size: 1rem;
  max-width: 8.125rem; }
  @media screen and (max-width: 768px) {
    input, select, option {
      width: 60%; } }

input {
  height: 2.1875rem; }

select {
  height: 2.5rem; }

label {
  font-size: 0.875rem;
  text-align: center;
  text-transform: uppercase;
  font-family: "RobotoRegular", sans-serif;
  margin-bottom: 0.3125rem; }
  @media screen and (max-width: 768px) {
    label {
      width: 9.375rem;
      text-align: left; } }
  @media screen and (max-width: 480px) {
    label {
      width: 6.25rem; } }

.sel__rooms {
  width: 10rem; }

.button__wrap {
  position: absolute;
  bottom: 1.25rem;
  right: 1.25rem; }

.selling {
  display: flex;
  align-items: center;
  padding-top: 0.625rem; }
  @media screen and (max-width: 768px) {
    .selling {
      flex-direction: column; } }

.submit_selling {
  margin-left: auto;
  margin-right: 2.1875rem; }
  @media screen and (max-width: 768px) {
    .submit_selling {
      margin: 0; } }

.popup-sell-wrap {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #000;
  opacity: 0.5; }

.popup-sell {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1000;
  margin: -15.625rem 0 0 -14.0625rem;
  width: 27.5rem;
  height: 28.125rem;
  background-color: #B7BBC2;
  border-radius: 0.3125rem; }

.label_selling {
  font-size: 1.875rem;
  margin-left: 0.625rem;
  font-family: "CleanvertisingLight", sans-serif; }
  @media screen and (max-width: 768px) {
    .label_selling {
      width: 100%;
      font-size: 1.5625rem;
      margin: 0; } }

.selling-form {
  display: flex;
  flex-direction: column;
  color: #3d3d3d;
  padding: 10px; }

.selling-form__lbl {
  display: flex;
  flex-direction: column;
  align-items: center; }

.selling-form__lbl > input {
  max-width: 300px; }

.selling-form__lbl > textarea {
  width: 90%; }

.selling-form > .button_wrap {
  padding-top: 20px;
  text-align: center; }
  .selling-form > .button_wrap .button {
    margin: 0 5px; }

.arrow-wrap {
  width: 100%;
  display: flex;
  justify-content: center; }

.arrow {
  margin-bottom: 1.25rem; }

.arrow-pic {
  width: 2.5rem;
  height: 2.5rem;
  transform: rotate(90deg);
  cursor: pointer; }

.input_selection-wrap {
  display: flex;
  flex-direction: column; }
  @media screen and (max-width: 768px) {
    .input_selection-wrap {
      flex-direction: row; } }

@media screen and (max-width: 768px) {
  .vklad {
    display: none; } }

.Validate_Required {
  display: none; }
  @media screen and (max-width: 768px) {
    .Validate_Required {
      display: inline-block; } }

@media screen and (max-width: 768px) {
  .vid, .skryt {
    display: none; } }

.hamburger-menu-link {
  vertical-align: middle;
  position: absolute;
  height: 1.375rem;
  align-items: center;
  margin-left: 1.875rem;
  margin-top: 1.875rem;
  margin-right: 1.875rem;
  display: none;
  right: 0; }
  @media screen and (max-width: 875px) {
    .hamburger-menu-link {
      display: flex; } }

.hamburger-menu-link__bars, .hamburger-menu-link__bars:before, .hamburger-menu-link__bars:after {
  background: #fff;
  width: 1.5rem;
  height: 0.3125rem;
  border-radius: 0.1875rem; }
.hamburger-menu-link__bars:before, .hamburger-menu-link__bars:after {
  content: "";
  display: block;
  position: absolute; }
.hamburger-menu-link__bars:before {
  top: 0; }
.hamburger-menu-link__bars:after {
  bottom: 0; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  background: #2f3234;
  justify-content: center;
  align-items: center;
  z-index: 10000; }
  .overlay .nav__list {
    display: inline-block !important; }

.nav--small-width {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%; }
  .nav--small-width .nav__list {
    margin: auto; }
    .nav--small-width .nav__list .nav__item {
      display: flex;
      flex-direction: column; }
      .nav--small-width .nav__list .nav__item .nav__link {
        font-size: 24px;
        margin: 20px 0; }

.close {
  color: #fff;
  background: red;
  position: absolute;
  right: 10px;
  top: 30px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  text-decoration: none; }

.s_about {
  min-height: 28.75rem;
  position: relative; }

.container-about {
  height: 12.5rem; }

.wrap-about {
  font-family: "CleanvertisingLight", sans-serif;
  margin-top: 12.5rem; }
  @media screen and (max-width: 1123px) {
    .wrap-about {
      margin-top: 15.625rem;
      padding: 0 1.25rem; } }
  @media screen and (max-width: 480px) {
    .wrap-about {
      margin: 0; } }

.wrap-tizers {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 12.5rem;
  background: linear-gradient(#c6d8ee, #e8eff7); }
  @media screen and (max-width: 480px) {
    .wrap-tizers {
      display: none; } }

.tizers {
  display: flex;
  justify-content: center;
  color: #003469;
  font-family: "CleanvertisingLight", sans-serif;
  text-transform: uppercase; }
  .tizers span {
    font-size: 0.875rem;
    display: block; }
    @media screen and (max-width: 768px) {
      .tizers span {
        font-size: 0.75rem; } }
  .tizers strong {
    font-weight: normal;
    font-size: 1.4375rem;
    display: block; }
    @media screen and (max-width: 768px) {
      .tizers strong {
        font-size: 1.125rem; } }

.tizers__item {
  display: flex;
  margin: 0 1.25rem; }
  @media screen and (max-width: 1123px) {
    .tizers__item {
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin: auto; } }

.label_tiz {
  text-align: center;
  margin-bottom: 1.25rem; }

.tiz_img, .tiz_descr {
  display: inline-block;
  vertical-align: bottom; }

.tiz_img i {
  font-size: 3.75rem;
  line-height: 3rem;
  margin-right: 0.625rem; }

.s_profi {
  background: linear-gradient(#e8eff7, #fff); }

.wrap-profi {
  display: flex; }

.profi_item {
  display: flex; }

.profi_left {
  color: #9B1818;
  padding-left: 0; }
  .profi_left i {
    font-size: 4.375rem;
    line-height: 5.625rem; }

.profi_right {
  font-family: "CleanvertisingLight", sans-serif;
  padding: 0 1.875rem; }
  .profi_right h3 {
    display: inline-block;
    margin: 0;
    color: #9B1818;
    font-size: 1.25rem;
    text-transform: uppercase; }
  .profi_right p {
    margin-top: 0rem;
    font-size: 1rem;
    line-height: 1.4; }

.callback {
  background-color: #f7f7f7;
  padding: 1.5625rem 1.25rem;
  border: #003469 0.3125rem solid;
  border-radius: 0.3125rem; }
  .callback h2 {
    text-transform: uppercase;
    margin-top: 0;
    font-family: "RobotoBold", sans-serif;
    font-size: 1.375rem;
    color: #333;
    line-height: 1.375rem;
    margin-bottom: 1.875rem; }
  .callback label {
    display: block;
    margin-bottom: 0.9375rem;
    color: #666;
    font-size: 0.875rem; }
  .callback input, .callback select {
    line-height: 2.5rem;
    height: 2.5rem;
    border: #d9d9d9 0.0625rem solid;
    box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.06) inset;
    width: 100%;
    text-indent: 0.625rem;
    margin-top: 0.1875rem; }
    .callback input:focus, .callback select:focus {
      box-shadow: #67bc5c 0 0 0 0.125rem;
      border-radius: 0.125rem;
      border-color: #67bc5c; }
  .callback .button_wrap {
    text-align: center;
    margin: 1.5625rem 0 0.625rem; }
  .callback .submit_selling {
    margin: 0.9375rem 0 0.3125rem;
    vertical-align: middle; }

.s_work {
  min-height: 28.125rem;
  font-family: "CleanvertisingLight", sans-serif;
  background-image: url(../img/bg/work_bg.jpg);
  background-position: center center;
  background-size: cover; }

.work__item {
  display: flex;
  align-items: center;
  position: relative;
  border: 0.125rem solid #fff;
  background: #fff;
  min-height: 5.625rem;
  border-radius: 0.9375rem;
  margin-bottom: 1.875rem; }
  .work__item:after {
    content: "";
    position: absolute;
    left: 5%;
    bottom: -3.75rem;
    border: 1.875rem solid transparent;
    border-top: 1.875rem solid #fff; }
  .work__item:last-child:after {
    border: none; }

.work__item-ttl {
  width: 15%;
  font-family: "roboloBold", sans-serif;
  text-align: center;
  font-size: 1.875rem; }

.work__item-txt {
  width: 85%;
  font-size: 1.125rem;
  padding: 0 1.25rem; }

.s_back {
  background: linear-gradient(#e8eff7, #c6d8ee, #e8eff7); }

.back-slider {
  display: flex;
  height: 80%; }

.slider-prev, .slider-next {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 5%; }
  .slider-prev:hover, .slider-next:hover {
    background: rgba(61, 61, 61, 0.3);
    cursor: pointer; }

.slider-prev__pic, .slider-next__pic {
  width: 100%; }

.slider-prev__pic {
  transform: rotate(180deg); }

.slider-wrap {
  display: flex;
  overflow: hidden;
  width: 90%; }

.items {
  display: flex;
  position: relative;
  color: #444;
  font-size: 1.25rem;
  will-change: right;
  transition: right 0.3s; }

.item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%; }

.slider__left, .slider__right {
  width: 50%; }

.slider__right {
  padding: 0 0.625rem; }

.slider__img {
  display: flex;
  flex-direction: column;
  align-items: center; }

.slider__pic {
  width: 60%; }

.s_review {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background-image: url(../img/bg/review_bg.jpg);
  min-height: 31.25rem;
  background-position: center center;
  background-size: cover; }

.review-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 62.5rem;
  height: 100%;
  background: rgba(61, 61, 61, 0.6);
  color: #fff; }

.review-item__title {
  display: flex;
  cursor: pointer;
  line-height: 0; }
  .review-item__title::before {
    content: "";
    width: 0;
    height: 0;
    margin-right: 0.625rem;
    border: 0.3125rem solid transparent;
    border-top-color: #f9b43b;
    border-bottom: none;
    transition: all 0.5s ease-out; }
  .review-item__title:hover {
    color: #C0C0C0; }

.review-item__content {
  display: flex;
  height: 0;
  overflow: hidden; }

.review-item__pic {
  width: 9.375rem; }

.review-item--active {
  height: 12.5rem; }

.review-item--active .review-item__title::before {
  transform: rotate(180deg); }

.review-item--active .review-item__content {
  overflow: inherit; }

.review-item__descr {
  padding: 0 0.625rem; }

.review__list {
  padding: 0 2.5rem; }

.review-btn {
  margin: auto;
  margin-bottom: 1.875rem; }

.popup-review-wrap {
  display: none;
  position: absolute;
  z-index: 999;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #000;
  opacity: 0.5; }

.popup-review {
  position: absolute;
  top: 50%;
  left: 25%;
  display: none;
  z-index: 1000;
  margin: -15.625rem 0 0 -14.0625rem;
  width: 27.5rem;
  height: 28.125rem;
  background-color: #B7BBC2;
  border-radius: 0.3125rem; }

.review-form {
  display: flex;
  flex-direction: column;
  color: #3d3d3d;
  padding: 10px; }

.review-form__lbl {
  display: flex;
  flex-direction: column;
  align-items: center; }

.review-form__lbl > input {
  max-width: 300px; }

.review-form__lbl > textarea {
  width: 90%; }

.review-form > .button_wrap {
  padding-top: 20px;
  text-align: center; }
  .review-form > .button_wrap .button {
    margin: 0 5px; }

.s_contacts {
  position: relative;
  display: flex;
  flex-direction: column; }

.footer {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  background: #3d3d3d;
  color: #fff;
  width: 100%;
  height: 6.25rem; }

.google-map {
  position: absolute;
  width: 100%;
  height: 100vh; }

.f_wrap {
  display: flex;
  padding: 0.625rem 0; }

.f_item {
  margin: 0 0.625rem;
  padding: 0 0.625rem;
  border-left: 0.125rem solid #B7BBC2; }
  .f_item:first-child {
    border: none; }
  .f_item:hover {
    color: #9B1818;
    cursor: pointer; }

.f_item > a, .f_email {
  color: #fff;
  text-decoration: none; }
  .f_item > a:hover, .f_email:hover {
    color: #9B1818; }

.f_social_vk {
  width: 3.125rem;
  height: 3.125rem;
  margin: 0.625rem 2.5rem; }

/*# sourceMappingURL=main.css.map */
