@font-face {
  font-family: "RobotoRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype"); }
@font-face {
  font-family: "RobotoBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype"); }
@font-face {
  font-family: "CleanvertisingLight";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/CleanvertisingLight/CleanvertisingLight.eot?#iefix") format("embedded-opentype"), url("../fonts/CleanvertisingLight/CleanvertisingLight.woff") format("woff"), url("../fonts/CleanvertisingLight/CleanvertisingLight.ttf") format("truetype"); }
body {
  font-family: "RobotoRegular", sans-serif;
  color: #333;
  font-weight: normal;
  font-size: 16px;
  min-width: 320px;
  line-height: 1.6;
  -webkit-font-smoothing: antialised;
  overflow-x: hidden;
  margin: 0;
  padding: 0; }

h1 {
  color: #fff;
  font-size: 40px;
  line-height: 56px;
  font-family: "RobotoBold", sans-serif;
  margin: 0;
  text-transform: uppercase; }

section {
  height: 100vh;
  display: flex;
  justify-content: center; }

li {
  list-style-type: none; }

section.s_dark h2, section.s_dark h3, section.s_dark p, footer.s_dark h2, footer.s_dark h3, footer.s_dark p {
  color: #fff; }
section h2, footer h2 {
  font-size: 38px;
  line-height: 56px;
  font-family: "CleanvertisingLight", sans-serif;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase; }

.container {
  width: 1180px;
  magrin: 0 auto;
  height: 100vh; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red;
  box-shadow: #9B1818 0 0 0 2px;
  border-color: #9B1818; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

.hidden {
  display: none; }

.title_about {
  color: #9B1818; }

.button {
  width: 200px;
  height: 50px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-family: "CleanvertisingLight", sans-serif;
  text-transform: uppercase;
  cursor: pointer; }
  .button_blue {
    background: #003469; }
    .button_blue:hover {
      background: #022953; }
  .button_red {
    background: #9B1818; }
    .button_red:hover {
      background: #7B1313; }

.greeting {
  background-image: url(../img/bg/top_bg.jpg);
  background-position: center center;
  background-size: cover;
  color: #fff;
  font-family: "CleanvertisingLight", sans-serif; }

.container__greet {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between; }

.header {
  display: flex;
  width: 100%; }

.logo {
  content: url("../img/logo.png");
  width: 170px;
  height: 150px;
  margin-top: 30px; }

.nav {
  display: flex;
  margin-left: auto;
  list-style-type: none;
  margin-top: 40px;
  padding-right: 50px;
  font-size: 18px; }

.nav__item {
  margin: 0 10px; }
  .nav__item a {
    color: #fff;
    text-decoration: none; }
    .nav__item a:hover {
      text-decoration: underline; }

.cont__city {
  margin-bottom: 0;
  text-align: right; }

.cont__phone {
  color: #fff;
  text-decoration: none;
  font-size: 24px; }

.title {
  width: 100%; }

.designer {
  width: 100%; }

.designer__wrap > a {
  display: inline-block;
  height: 40px;
  width: 100px;
  background: #ECEDEF;
  font-size: 14px;
  color: #3d3d3d;
  font-family: "RobotoRegular", sans-serif;
  text-transform: uppercase;
  padding: 2px 5px;
  line-height: 40px;
  text-decoration: none;
  text-align: center;
  border-radius: 5px 5px 0 0; }

.designer__wrap > a:first-child {
  background: #B7BBC2; }

.designer__wrap > a:hover {
  text-decoration: none; }

.designer__wrap {
  padding: 15px;
  width: 70%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: rgba(235, 236, 238, 0.4); }

.designer__wrap .vid {
  display: block; }

.designer__wrap .skryt {
  display: none; }

.form_selection {
  display: flex;
  flex-direction: column;
  vertical-align: top;
  color: #3d3d3d; }

.searchform {
  position: relative;
  display: flex;
  background: #B7BBC2;
  height: 300px;
  border-radius: 0 5px 5px 5px;
  padding: 20px 10px 0; }

input, select, option {
  margin-bottom: 5px;
  margin-right: 5px;
  padding-left: 5px;
  font-size: 16px;
  width: 130px; }

input {
  height: 35px; }

select {
  height: 40px; }

label {
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  font-family: "RobotoRegular", sans-serif;
  margin-bottom: 5px; }

.sel__rooms {
  width: 160px; }

.button__wrap {
  position: absolute;
  bottom: 20px;
  right: 20px; }

.selling {
  display: flex;
  align-items: center;
  padding-top: 10px; }

.submit_selling {
  margin-left: auto;
  margin-right: 20px; }

.label_selling {
  font-size: 30px;
  margin-left: 10px;
  font-family: "CleanvertisingLight", sans-serif; }

.arrow-wrap {
  width: 100%;
  display: flex;
  justify-content: center; }

.arrow {
  margin-bottom: 20px; }

.arrow-pic {
  width: 70px;
  height: 70px;
  transform: rotate(90deg);
  cursor: pointer; }

.s_about {
  background-image: url(../img/bg/about_bg.jpg);
  background-position: center center;
  background-size: cover;
  position: relative; }

.container-about {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around; }

.about h2 {
  margin-bottom: 0; }

.wrap-tizers {
  width: 100%; }

.wrap-about {
  font-family: "CleanvertisingLight", sans-serif;
  font-size: 18px; }

.tizers {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "CleanvertisingLight", sans-serif;
  text-transform: uppercase;
  padding: 20px 0 0;
  margin-top: 0; }
  .tizers span {
    font-size: 14px;
    display: block; }
  .tizers strong {
    font-weight: normal;
    font-size: 23px;
    display: block; }
  .tizers .row > div {
    margin-bottom: 35px; }

.label_tiz {
  text-align: center;
  margin-bottom: 20px; }

.tiz_img, .tiz_descr {
  display: inline-block;
  vertical-align: bottom; }

.tiz_img i {
  font-size: 70px;
  line-height: 48px;
  margin-right: 10px; }

.s_profi {
  background-color: #e8eff7;
  background-image: -webkit-linear-gradient(#e8eff7, #fff);
  background-image: linear-gradient(#e8eff7, #fff); }

.profi_left {
  color: #9B1818;
  padding-left: 0; }
  .profi_left i {
    font-size: 70px;
    line-height: 90px; }

.profi_right {
  font-family: "CleanvertisingLight", sans-serif;
  padding-left: 30px; }
  .profi_right h3 {
    display: inline-block;
    margin: 0;
    color: #9B1818;
    font-size: 24px;
    text-transform: uppercase; }
  .profi_right p {
    margin-top: 0px;
    font-size: 16px; }

.s_work {
  min-height: 450px;
  font-family: "CleanvertisingLight", sans-serif;
  background-image: url("../../img/subtle_freckles.jpg");
  background-attachment: fixed;
  background-position: top center; }
  .s_work h2 {
    color: #fff; }

.round {
  width: 269px;
  height: 400px;
  margin: 8px;
  border-radius: 8px;
  background-color: #c6d8ee;
  background-image: -webkit-linear-gradient(#c6d8ee, #e8eff7);
  background-image: linear-gradient(#c6d8ee, #e8eff7);
  color: #003469;
  text-align: center; }
  .round:hover {
    background-color: #9fc1ea;
    background-image: -webkit-linear-gradient(#9fc1ea, #d7e6f7);
    background-image: linear-gradient(#9fc1ea, #d7e6f7); }
  .round img {
    height: 100px;
    width: 100px; }
  .round h3 {
    text-transform: uppercase;
    font-size: 20px; }

.s_back {
  min-height: 400px; }

.s_review {
  background-image: url(../img/middle_bg.jpg);
  background-repeat: repeat-x;
  background-attachment: fixed;
  min-height: 500px;
  background-position: top center;
  background-size: cover;
  background-color: #000; }

.review_item {
  color: #fff;
  text-align: center; }
  .review_item h4 {
    font-family: "Time New Roman", serif;
    font-style: italic;
    font-size: 22px;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 20px; }
  .review_item p {
    margin: 25px auto 0;
    display: inline-block;
    float: none;
    font-size: 15px; }
  .review_item .image_wrap {
    text-align: center; }
    .review_item .image_wrap img {
      width: 165px;
      height: 165px;
      display: inline-block;
      border-radius: 50%;
      border: #585a5b 8px solid; }

.hr {
  width: 80px;
  height: 1px;
  background-color: #cea380;
  margin: auto; }

.owl-nav div {
  width: 40px;
  height: 40px;
  background-image: url(../img/s_arrows.png);
  background-size: cover;
  top: 10%;
  opacity: 0.6;
  position: absolute; }
  .owl-nav div:hover {
    opacity: 0.8; }
  .owl-nav div.owl-next {
    right: 0;
    background-position: top right; }

.owl-dots {
  width: 100%;
  margin-top: 20px;
  text-align: center; }
  .owl-dots .owl-dot {
    width: 14px;
    height: 14px;
    background-color: #ffffff;
    display: inline-block;
    margin: 0 4px;
    border-radius: 50%;
    opacity: 0.5; }
    .owl-dots .owl-dot.active {
      opacity: 0.8; }

.review_item-rew {
  width: 250px;
  height: 180px;
  margin: auto;
  border-radius: 2px;
  border: #3d3d3d 2px solid; }

.s_contacts {
  padding-bottom: 0; }
  .s_contacts h2 {
    margin-bottom: 10px; }
  .s_contacts h3 {
    text-align: center;
    font-family: "CleanvertisingLight", sans-serif; }

.map {
  margin-top: 30px;
  min-height: 480px;
  background-color: #e1d6b0; }

footer .button_wrap {
  text-align: center;
  margin-top: 35px; }
footer h2 {
  text-transform: none;
  font-size: 30px;
  margin-bottom: 20px; }
footer h3 {
  text-align: center;
  font-family: "Tahoma", sans-serif;
  text-transform: uppercase;
  margin-bottom: 0;
  color: #9B1818;
  font-weight: normal; }
footer .f_phone {
  font-size: 30px;
  margin-top: 0;
  line-height: 30px; }
footer p {
  font-size: 18px;
  text-align: center;
  margin-bottom: 30px; }

/*# sourceMappingURL=main.css.map */
