body
	font-family: "RobotoRegular", sans-serif
	color: $text-color
	font-weight: normal
	font-size: 16px
	min-width: 320px
	line-height: 1.6
	-webkit-font-smoothing: antialised
	overflow-x: hidden
	margin: 0
	padding: 0

h1
	color: #fff
	font-size: 40px
	line-height: 56px
	font-family: "RobotoBold", sans-serif	
	margin: 0
	text-transform: uppercase

section
	height: 100vh
	display: flex
	justify-content: center

li
	list-style-type: none

section, footer
	&.s_dark
		h2, h3, p
			color: #fff
	h2
		font-size: 38px
		line-height: 56px
		font-family: "CleanvertisingLight", sans-serif
		text-align: center
		font-weight: normal
		text-transform: uppercase

.container
	width: 1180px
	magrin: 0 auto
	height: 100vh
			
body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: red
	box-shadow: $red-color 0 0 0 2px
	border-color: $red-color
body input:required:valid,
body textarea:required:valid
	color: green

.hidden
	display: none

.title
	&_about
		color: $blue-color
	&_work
		color: #fff
	&_review
		color: #fff	
		
.button
	width: 200px
	height: 50px
	border-radius: 5px
	border: none
	color: #fff
	font-size: 18px
	font-family: "CleanvertisingLight", sans-serif
	text-transform: uppercase
	cursor: pointer
	&_blue
		background: $blue-color
		&:hover
			background: #022953
	&_red
		background: $red-color
		&:hover
			background: #7B1313