.s_about
	min-height: rem(460px)
	position: relative	

.container-about
	height: rem(300px)	

.wrap-about
	font-family: "CleanvertisingLight", sans-serif
	margin-top: rem(310px)

.wrap-tizers
	position: absolute
	left: 0
	top: 0
	width: 100%
	height: rem(282px)
	+linear-gradient(#c6d8ee, #e8eff7)

.tizers
	display: flex
	justify-content: center
	color: $blue_color
	font-family: "CleanvertisingLight", sans-serif
	text-transform: uppercase
	padding: rem(20px) 0 0
	span
		font-size: rem(14px)
		display: block
	strong
		font-weight: normal
		font-size: rem(23px)
		display: block

.tizers__item
	margin: 0 rem(20px)

.label_tiz
	text-align: center
	margin-bottom: rem(20px)

.tiz_img, .tiz_descr
	display: inline-block
	vertical-align: bottom

.tiz_img i
	font-size: rem(60px)
	line-height: rem(48px)
	margin-right: rem(10px)	