.s_back
	background: linear-gradient(#e8eff7, #c6d8ee, #e8eff7)

.back-slider
	display: flex
	height: 80%

.slider-prev, .slider-next
	display: flex
	flex-direction: column
	justify-content: center
	width: 5%
	&:hover
		background: rgba(#3d3d3d, .3)
		cursor: pointer

.slider-prev__pic, .slider-next__pic
	width: 100%
		
.slider-prev__pic
	transform: rotate(180deg)

.slider-wrap
	display: flex
	overflow: hidden
	width: 90%

.items
	display: flex
	position: relative
	color: #444
	font-size: rem(20px)
	will-change: right
	transition: right 0.3s

.item
	display: flex
	align-items: center
	width: 100%
	height: 100%
	@include tablets
		flex-direction: column

.slider__left, .slider__right
	width: 50%	
	@include tablets
		height: 50%

.slider__left
	display: flex
	flex-direction: column
	justify-content: center

.slider__right
	padding: 0 rem(10px)
	@include tablets
		width: 95%

.slider__txt-ttl
	@include tablets
		text-align: center

.slider__txt-desr
	@include tablets
		font-size: rem(16px)	

.slider__img
	display: flex
	flex-direction: column
	align-items: center

.slider__pic
	width: 60%
	cursor: pointer
	@include tablets
		width: 80%

/* увеличенная картинка */
#magnify 
	display: none
	position: fixed
	max-width: 500px
	height: auto
	z-index: 9999
 
#magnify img
	width: 100%
 
/* затемняющий фон */
#overlay-pic
	display: none
	background: #000
	position: fixed
	top: 0
	left: 0
	height: 100%
	width: 100%
	opacity: 0.5
	z-index: 9990
 
/* кнопка закрытия */
#close-popup
	width: 30px
	height: 30px
	background: #FFFFFF
	border: 1px solid #AFAFAF
	border-radius: 15px
	cursor: pointer	
	position: absolute
	top: 15px
	right: 15px
 
#close-popup i
	width: 30px
	height: 30px
	background: url(https://codernote.ru/files/cross.png) no-repeat center center
	background-size: 16px 16px
	display: block
 