.s_contacts
	position: relative
	display: flex
	padding-bottom: 0
	h2
		margin-bottom: rem(10px)
	h3
		text-align: center
		font-family: "CleanvertisingLight", sans-serif

.google-map
	position: absolute
	top: 0
	left: 0
	margin-top: rem(150px)
	width: 100%
	height: rem(500px)

footer
	margin-top: rem(550px)
	.button_wrap
		text-align: center
		margin-top: rem(35px)
	h2
		text-transform: none
		font-size: rem(30px)
		margin-bottom: rem(20px)
	h3
		text-align: center
		font-family: "Tahoma", sans-serif
		text-transform: uppercase
		margin-bottom: 0
		color: $red-color
		font-weight: normal
	.f_phone
		font-size: rem(30px)
		margin-top: 0
		line-height: rem(30px)	
	p
		font-size: rem(18px)
		text-align: center
		margin-bottom: rem(30px)