.s_contacts
	padding-bottom: 0
	h2
		margin-bottom: 10px
	h3
		text-align: center
		font-family: "CleanvertisingLight", sans-serif

.map
	margin-top: 30px
	min-height: 480px
	background-color: #e1d6b0

footer
	.button_wrap
		text-align: center
		margin-top: 35px
	h2
		text-transform: none
		font-size: 30px
		margin-bottom: 20px
	h3
		text-align: center
		font-family: "Tahoma", sans-serif
		text-transform: uppercase
		margin-bottom: 0
		color: $red-color
		font-weight: normal
	.f_phone
		font-size: 30px
		margin-top: 0
		line-height: 30px	
	p
		font-size: 18px
		text-align: center
		margin-bottom: 30px