.s_greeting
	background-image: url(../img/bg/top_bg.jpg)
	background-position: center center
	background-size: cover
	color: #fff
	font-family: "CleanvertisingLight", sans-serif

.container-greet
	display: flex
	flex-wrap: wrap
	align-content: space-between

.header
	display: flex
	width: 100%

.logo
	content: url("../img/logo.png")
	width: 170px
	height: 150px
	margin-top: 30px

.nav
	display: flex
	margin-left: auto
	list-style-type: none
	margin-top: 40px
	padding-right: 50px
	font-size: 18px

.nav__item
	margin: 0 10px
	a
		color: #fff
		text-decoration: none
		&:hover
			text-decoration: underline


.cont__city
	margin-bottom: 0
	text-align: right 

.cont__phone
	color: #fff
	text-decoration: none
	font-size: 24px

.title
	width: 100%

.designer
	width: 100%

.designer__wrap > a
	display: inline-block
	height: 40px
	width: 100px
	background: #ECEDEF
	font-size: 14px
	color: #3d3d3d
	font-family: "RobotoRegular", sans-serif
	text-transform: uppercase
	padding: 2px 5px
	line-height: 40px
	text-decoration: none
	text-align: center
	border-radius: 5px 5px 0 0 

.designer__wrap > a:first-child
	background: #B7BBC2

.designer__wrap > a:hover
	text-decoration: none

.designer__wrap
	padding: 15px
	width: 70%
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	background: rgba(#EBECEE, .4)

.designer__wrap .vid
	display: block

.designer__wrap .skryt
	display: none

.form_selection
	display: flex
	flex-direction: column
	vertical-align: top
	color: #3d3d3d

.searchform
	position: relative
	display: flex
	background: #B7BBC2
	height: 300px
	border-radius: 0 5px 5px 5px
	padding: 20px 10px 0

input, select, option
	margin-bottom: 5px
	margin-right: 5px
	padding-left: 5px
	font-size: 16px
	width: 130px

input
	height: 35px

select
	height: 40px

label
	font-size: 14px
	text-align: center
	text-transform: uppercase
	font-family: "RobotoRegular", sans-serif
	margin-bottom: 5px

.sel__rooms
	width: 160px

.button__wrap
	position: absolute
	bottom: 20px
	right: 20px

.selling
	display: flex
	align-items: center
	padding-top: 10px

.submit_selling
	margin-left: auto
	margin-right: 20px

.label_selling
	font-size: 30px
	margin-left: 10px
	font-family: "CleanvertisingLight", sans-serif

.arrow-wrap
	width: 100%
	display: flex
	justify-content: center

.arrow
	margin-bottom: 20px

.arrow-pic
	width: 70px
	height: 70px
	transform: rotate(90deg)
	cursor: pointer	