.s_profi
	background: linear-gradient(#e8eff7,#fff) 

.container-profi
	justify-content: center
		
.wrap-profi
	display: flex

.profi_item
	display: flex

.profi_left
	color: $red-color
	padding-left: 0
	i	
		font-size: rem(70px)
		line-height: rem(90px)	

.profi_right
	font-family: "CleanvertisingLight", sans-serif
	padding: 0 rem(30px)
	h3
		display: inline-block
		margin: 0
		color: $red-color
		font-size: rem(20px)
		text-transform: uppercase
	p
		margin-top: rem(0px)
		font-size: rem(16px)
		line-height: 1.4

.callback
	background-color: #f7f7f7
	padding: rem(25px) rem(30px)
	border: $blue-color rem(5px) solid
	border-radius: rem(5px)
	h2
		text-transform: uppercase
		margin-top: 0
		font-family: "RobotoBold", sans-serif
		font-size: rem(22px)
		color: $text-color
		line-height: rem(22px)
		margin-bottom: rem(30px)
	label
		display: block
		margin-bottom: rem(15px)
		color: #666
		font-size: rem(14px)
	input, select
		display: block
		line-height: rem(40px)
		height: rem(40px)
		border: #d9d9d9 rem(1px) solid
		box-shadow: 0 0 rem(20px) rgba(0,0,0,.06) inset
		width: 100%
		text-indent: rem(10px)
		margin-top: rem(3px)
		&:focus
			box-shadow: $green-color 0 0 0 rem(2px)
			border-radius: rem(2px)
			border-color: $green-color
	.button_wrap
		text-align: center
		margin: rem(25px) 0 rem(10px)
	.submit_selling
		margin: rem(15px) 0 rem(5px)
		vertical-align: middle