.s_review
	display: flex
	justify-content: flex-end
	width: 100%
	background-image: url(../img/bg/review_bg.jpg)
	min-height: 500px		
	background-position: center center
	background-size: cover

.review-wrap
	display: flex
	justify-content: center
	width: 1000px	
	height: 100%
	background: rgba(#3d3d3d, .6)