.s_review
	background-image: url(../img/middle_bg.jpg)
	background-repeat: repeat-x
	background-attachment: fixed
	min-height: 500px		
	background-position: top center
	background-size: cover
	background-color: #000

.review_item
	color: #fff
	text-align: center
	h4
		font-family: "Time New Roman", serif
		font-style: italic
		font-size: 22px
		font-weight: normal
		margin-top: 20px
		margin-bottom: 20px
	p
		margin: 25px auto 0
		display: inline-block
		float: none
		font-size: 15px
	.image_wrap
		text-align: center
		img
			width: 165px
			height: 165px
			display: inline-block
			border-radius: 50%
			border: #585a5b 8px solid
	
.hr
	width: 80px
	height: 1px
	background-color: #cea380
	margin: auto

.owl-nav
	div
		width: 40px
		height: 40px
		background-image: url(../img/s_arrows.png)
		background-size: cover
		top: 10%
		opacity: .6
		position: absolute
		&:hover
			opacity: .8
		&.owl-next
			right: 0
			background-position: top right

.owl-dots
	width: 100%
	margin-top: 20px
	text-align: center
	.owl-dot
		width: 14px
		height: 14px
		background-color: #ffffff
		display: inline-block
		margin: 0 4px
		border-radius: 50%
		opacity: .5
		&.active
			opacity: .8

.review_item-rew
	width: 250px
	height: 180px
	margin: auto
	border-radius: 2px
	border: #3d3d3d 2px solid