.s_work
	min-height: rem(450px)
	font-family: "CleanvertisingLight", sans-serif		
	background-image: url(../img/bg/work_bg.jpg)
	background-position: center center
	background-size: cover

.work__item
	display: flex
	align-items: center
	position: relative
	border: rem(2px) solid #fff
	background: #fff
	height: rem(100px)
	border-radius: rem(15px)
	margin-bottom: rem(30px)
	&:after
		content: ''
		position: absolute
		left: 5%
		bottom: rem(-60px)
		border: rem(30px) solid transparent
		border-top: rem(30px) solid #fff
	&:last-child:after
		border: none
	&:nth-child(2):after
		left: 90%	

.work__item-ttl
	width: rem(150px)
	font-family: "roboloBold", sans-serif
	text-align: center
	font-size: rem(30px)

.work__item-txt
	font-size: rem(20px)
		


